/* Стилизация кнопки */
:root {
    --button-height: 48px;
}

.button {
    height: var(--button-height, 48px);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white, #ffffff);

    -webkit-transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary {
    background: #4263EB;
    border-color: #4263EB;
}

.button_primary:hover {
    background: #2342C0;
}

.button_primary:disabled {
    background: #4263EB;
    opacity: 0.5;
    cursor: not-allowed;
}

.button_secondary {
    background: #7048E8;
    border-color: #7048E8;
}

.button_secondary:hover {
    background: #5028C6;
}

.button_secondary:disabled {
    background: #7048E8;
    opacity: 0.5;
    cursor: not-allowed;
}

.button_alternate {
    box-sizing: border-box;
    color: var(--black, #212429);
    background: var(--white, #ffffff);
    border: 1px solid #ACB5BD;
}

.button_alternate:hover {
    border: 1px solid #212429;
}

.button_alternate:disabled {
    border: 1px solid #ACB5BD;
    opacity: 0.5;
    cursor: not-allowed;
}