:root{
    --header-footer-font-size: 100px;
}

html {
    color: white;
}

header {
    width: 100%;
    background: #F03D3E;
    font-size: var(--header-footer-font-size, 100px);
    font-weight: 600;
    text-align: center;
}

nav {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 80px;
    background: #f59f03;
    font-size: 2em;
}

nav a:link {
    margin: auto;
    color: white;
    display: inline-block;
}

main {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 300px);
    background: green;
    flex-direction: column;
}

main article {
    display: flex;
    margin: 5px;
    width: calc(100% - 10px);
    background: #3A1CFF;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-content: start;
}

.article_wrapper {
    margin-left: 20px;
}

footer {
    display: flex;
    background: #B027FF;
    justify-content: center;
    align-items: center;
}

.footer_content {
    font-size: var(--header-footer-font-size, 100px);
}