.skeleton {
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}

.skeleton__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}

.skeleton__circle {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--grey-2);
}

.skeleton__title {
    flex-shrink: 1;
    flex-basis: 100%;
    margin-left: 16px;
}

.skeleton__line {
    height: 20px;
    width: 100%;
    margin-bottom: 8px;
    background: var(--grey-2);
}

.skeleton__line_name {
    max-width: 172px;
}

.skeleton__line_date {
    max-width: 257px;
}

.skeleton__body :last-child {
    margin: 0;
}

